@using McbaExampleWithLogin.Models
@model Customer
@{
    ViewData["Title"] = "ViewAccounts";
}

<div>
    
    <h3>My Statements</h3>
    <form asp-action="Index">
        <h5>Please select an account.</h5>
        <table class="table">
            <tr>
                <th></th>
                <th>@Html.DisplayNameFor(x => x.Accounts[0].AccountNumber)</th>
                <th>@Html.DisplayNameFor(x => x.Accounts[0].AccountType)</th>
                <th>@Html.DisplayNameFor(x => x.Accounts[0].Balance)</th>
                <th></th>
            </tr>
                @foreach(var account in Model.Accounts) {
                    <tr>
                        <td><input type="radio" class="radio"  name="AccountNumber" id="AccountNumber" value="@account.AccountNumber" />
                            <label for ="account">
                                <td>@Html.DisplayFor(x => account.AccountNumber)</td>
                                <td>@Html.DisplayFor(x => account.AccountType)</td>
                                <td>@Html.DisplayFor(x => account.Balance)</td>
                            </label>
                        </td>
                    </tr>
                }
        </table>
        <input type="submit" value="Confirm" class="btn btn-primary">
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}